

/* #div_user{
    background-color: blue;
} */

.selected {
    background-color: blue;
}

/* #inv_Ms:focus{
  background-color: rgba(255, 187, 0, 0.521);
}

#inv_Ms{
  outline: none;
  border: none;
} */

.inp_focas:focus{
  background-color: rgba(255, 209, 84, 0.521);
}
.inp_focas_error{
  background-color: #ff0000be;
}